@model Resturant
<div class="resturant-container">
    <h1>@Model.name</h1>
    <img src="~/image/resturants/@Model.imgurl" alt="picture">
</div>
<div class="review-container">
    @foreach (Review review in Model.Review)
    {
        <div class="review">
            <h4>@review.title</h4>
            <p>@review.text</p>
        </div>
    }
</div>
<div class="image-container">
    @foreach (Image img in Model.Image)
    {
        <img src="~/image/uploads/@img.imgurl" alt="uploaded-image">
    }
</div>

@{
    if (ViewData["login"] != null) {
 <a asp-controller="Home" asp-action="NewReview" asp-route-ResturantID="@Model.ID">+Review</a>
 <a asp-controller="Home" asp-action="Upload" asp-route-ResturantID="@Model.ID">+Image</a>
    } else {
        <p>Needs to be logged in to:</p>
        <p>Upload pictures</p>
        <p>Create reviews</p>
        <a asp-action="Login" asp-controller="Home">Login Here</a>
    }
}