@model Restaurant

<div class="restaurant-container">
    <div class="restaurant-information">
        <h2>@Model.name</h2>
        <h3>@Model.type</h3>
        <p>@Model.description</p>
    @{
        if (ViewData["login"] != null) {
            <a asp-controller="Home" asp-action="NewReview" asp-route-RestaurantID="@Model.ID">+Review</a>
            <a asp-controller="Home" asp-action="Upload" asp-route-RestaurantID="@Model.ID">+Image</a>
        } else {
            <p>Needs to be logged in to:</p>
            <p>Upload pictures</p>
            <p>Create reviews</p>
            <a asp-action="Login" asp-controller="Home">Login Here</a>
        }
    }
    </div>

    <div class="review-container">
        @foreach (Review review in Model.Review)
        {
            <div class="review">
                <h4>@review.title</h4>
                <p>@review.text</p>
            </div>
        }
    </div>
    <div class="image-container">
        @foreach (Image img in Model.Image)
        {
            <img src="~/image/uploads/@img.imgurl" alt="uploaded-image">
        }
    </div>
          <img class="restaurant-picture" src="~/image/restaurants/@Model.imgurl" alt="picture">
</div>